body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lock-box {
  background: #222;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  color: white;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 200px;
}
